@import "tailwindcss";

@theme {
  --color-primary: #4b2615;
  --color-secondary: #f3f3f3;
  --color-altPrimary: #fbeade;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49200d; 
}

section {
  padding: 100px 0;
  position: relative;
}
section:nth-child(2n) {
  background: var(--color-secondary);
}

html,
body {
  font-weight: 500;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
